
   .portable-infobox {
    --pi-background:var(--theme-page-background-color);
    --pi-secondary-background:var(--theme-accent-color);
    --pi-secondary-background--label:var(--theme-accent-label-color);
    --pi-border-color:rgba(var(--theme-accent-color--rgb),0.5);
    border-radius:3px;
    border-style:solid;
    border-width:1px;
    float: right;
   

    
    margin:05rem -2rem 18px 18px;
  
    width:270px;
   }
   .pi-item-spacing {
      padding-bottom:9px;
      padding-top:9px
     }
     .pi-border-color {
      border-color:var(--pi-border-color)
     }
     .pi-background {
      background-color:var(--pi-background)
     }
     .pi-secondary-background {
      background:var(--pi-secondary-background);
      color:var(--pi-secondary-background--label)
     }
     .pi-secondary-background+.pi-secondary-background {
      border-top:1px solid var(--pi-background)
     }
     .pi-secondary-background+*>.pi-data:first-child,
     .pi-secondary-background+.pi-data {
      border-top:0
     }
     .portable-infobox .pi-secondary-background a {
      color:inherit
     }
     .pi-font {
      font-size:12px
     }
     .pi-secondary-font {
      font-size:14px;
      font-weight:700;
      line-height:1.25;
      margin-top:0;
     }
     .pi-caption,
     .pi-data,
     .pi-header,
     .pi-navigation,
     .pi-title {
      padding-left:9px;
      padding-right:9px;
     }
     .pi-header,
     .pi-title {
      text-align:center;
     }
     .pi-data {
      -webkit-box-orient:horizontal;
      -webkit-box-direction:normal;
      grid-column-gap:9px;
      border-top-style:solid;
      border-top-width:1px;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
      display:-webkit-box;
      display:flex;
      flex-direction:row;
      overflow:hidden;
     }
     .pi-image+.pi-data,
     .pi-image-collection+.pi-data,
     .pi-secondary-background+.pi-data,
     .portable-infobox>.pi-data:first-child {
      border-top:0
     }
     .pi-layout-stacked .pi-data {
      display:block;
     }
     .pi-data-label {
      flex-basis:90px;
      margin:0;
      overflow:hidden;
     }
     .pi-data-label,
     .pi-data-value {
      -webkit-hyphens:auto;
      hyphens:auto;
     }
     .pi-data-value {
      line-height:1.5;
      overflow-wrap:break-word
     }
     .pi-data-value>* {
      margin:0
     }
     .pi-data-value:not(:first-child) {
      flex-basis:180px
     }
     .pi-image {
      text-align:center;
      
     }
     .pi-image img {
      height:auto;
      width: auto;
     
      vertical-align:middle;
     
     }
     .pi-caption {
      word-wrap:break-word;
      color:rgba(var(--theme-page-text-color--rgb),.6);
      font-size:14px;
      font-style:italic;
      -webkit-hyphens:auto;
      hyphens:auto;
      text-align:center;
     }
  
  
  
  
  
  
     @charset "UTF-8";
     a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,time,tt,u,ul,var,video {
      border:0;
      font:normal normal normal 100% inherit;
      margin:0;
      padding:0;
      vertical-align:baseline
     }
   
     @media (max-width: 720px) {

      .portable-infobox {
       width: 90px;
       margin: 05rem 0rem 18px 18px;;
      
       
      
      }

      .pi-secondary-font {
         font-size: 5px;
            font-weight:70;
            line-height:1.25;
            margin-top:0;
           
      }

      .pi-data{
         font-size: 5px;
      }
   

      .pi-image img {
         width: 10px;
         height: 10px;
        
        }

      h3{
      font-size: 7px;
      }

      .pi-data-value pi-font{
         font-size: 5px;
      }

      .pi-item .pi-data pi-item-spacing pi-border-color{
         font-size: 7px;
      }
      .pi-data-value .pi-font{
         font-size: 1px;
      }
      .pi-font {
         font-size:5px
        }



        .pi-image img {
         height:40px;
         width: 80px;
       
         vertical-align:middle;
        
        }

      

   }